


body{
    background-color: rgb(3, 209, 31);
}

form{
    background-color: darkgreen;
    max-width: 700px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5px;
}

input{
    width: 47%;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    border-color: darkorange;
}

select{
    width: 50%;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.788);
    margin-bottom: 10px;
    padding: 10px;
}
button{
    font-size: 1rem;
    font-weight: bold;
    background-color: darkorange;
    color: rgba(0, 0, 0, 0.712);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.total{
    font-size: 1.5rem;
}

#total-amount{
    color: darkorange;
    font-weight: bold;
}